/* MovieCard.module.css */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid #cccccc75;
  background-color: rgba(201, 219, 238, 0.262);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.cardTitle {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #efdcdc;
}

.card p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #dbe862;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

  