/* Home.module.css */

.homeContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh; /* Para ocupar toda la pantalla */
  width: 100%;
  font-family: 'Arial', sans-serif; /* Ajusta la fuente */
  background-color: #0D0D0D; /* Color de fondo, ajusta según Figma */
}

.contentContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
  overflow-y: auto;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333; /* Color de título, ajusta según Figma */
}

  