.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #ffffff; /* Ajusta el color de fondo */
    height: 60px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navLinks {
    display: flex;
    gap: 20px;
  }
  
  .loginButton {
    padding: 10px 15px;
    background-color: #007bff; /* Color del botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  